@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

$font-stack: 'Philosopher', sans-serif;
$display: flex;

html {
  font-family: $font-stack;
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  margin: 2%;
  display: $display;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  .columns {
    display: $display;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;

    .rows {
      display: $display;
      flex-direction: column;
      padding: 10px;
      align-items: center;
    }
  }
}

.page-title {
  font-family: 'Rampart One', cursive;;
  text-align: center;
  color: #e6f2ff;
  text-shadow:
  0px 0px 10px #3399ff,
  0px 0px 20px #3399ff,
  0px 0px 30px #3399ff,
  0px 0px 40px #3399ff,
  0px 0px 80px #3399ff;
}

.search-bar-title {
  font-size: large;
  color: aliceblue;
}

.search-bar  {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#SearchMovieTitle {
  width: 20vw;
  margin-left: 5px;
  height: 1.5vw;
}

.search-button {
  margin-left: 7px;
  text-decoration: none;
  padding: 5px 10px;
  font-family: 'Poiret One', cursive;
  font-size: 12px;
  background: #fa9eff;
  border-radius: 5px;
  border-color: #f37dfa;
  cursor: pointer;
  &:hover {
    background:darken(#fa9eff,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken(#fa9eff,25%);
  }
}

.Movie-Title {
  border-radius: 4px;
  font-weight: 600;
  font-size: large;
  padding: 4px 6px;
  color: black !important;
  cursor: pointer;
  &:after{
    max-width: 100%;
    height: 2px;
    display: block;
    content: "";
    background: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
    opacity: 1;
    margin-bottom: -6px;
    margin-top: 1px;
  }
}

.movie-year {
  margin: 0.5vw;
}

.movie-poster {
  margin: 1vw;
}

.movie-info-container {
  border-radius: 20px;
  width: 50vw;
  margin: 2vw;
  background-color: palevioletred;
  z-index: 5;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: all ease 1s;
}

.movie-info-modal {
  margin: 1vw;
}

.modal-close-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
}

.bn37 {
  border-color: transparent;
  background-color: #fff;
  color: #000;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  &:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  }
}

/* responsive design*/
// @mixin grid($cols: 3, $mgn) {
//   float: left;
//   margin-right: $mgn;
//   margin-bottom: $mgn;
//   width: ( (100% - (($cols - 1) * $mgn )) / $cols );

//   &:nth-child(#{$cols}n) {
//     margin-right: 0;

//   }
// }


// @media (min-width: 480px)  {
//   .columns{ @include grid(2, 2%); background-color: lightcyan;}
// }
// @media (min-width: 768px) {
//   .columns{ @include grid(3, 2%); background-color: lightpink;}
// }
// @media (min-width: 920px) {
//   .columns{ @include grid(4, 2%); background-color: lightslategrey;}
// }

